.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: flex;
    position: relative;
    top: 200px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

img.dragable {
    width: 100%;
    height: 100%;
}


#imgdrag {
    border: 2px dashed #030303;
    cursor: grab;
}

@media screen and (max-width: 700px) {
    .boxes {
        flex-direction: column;
    }

    .span-simple {
        display: none;
    }
}

#arrowAnim {
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 20px;
    height: 20px;
    border: 5px solid;
    border-color: rgb(72, 14, 220) transparent transparent rgb(212, 15, 15);
    transform: rotate(-45deg);
    position: relative;
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15vw);
    }

    20% {
        opacity: 1;
        transform: translateX(9vw);
    }

    80% {
        opacity: 1;
        transform: translateX(-9vw);
    }

    100% {
        opacity: 0;
        transform: translateX(-15vw);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15vw);
    }

    20% {
        opacity: 1;
        transform: translateX(9vw);
    }

    80% {
        opacity: 1;
        transform: translateX(-9vw);
    }

    100% {
        opacity: 0;
        transform: translateX(-15vw);
    }
}